<h1>Анкеты</h1>

<!--<p class="price">600000</p>-->

{{#if ankets.length}}
    {{#each ankets}}
    <div class="col s12 m7">

        <div class="card horizontal">
            <div class="card-image wrapper exmpl">
                <img class="responsive-img crop_img_size"  src="{{img}}" alt="{{img}}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h2 class="header">{{email}}</h2>
                    <p class="custom-1">{{firstName}}</p>
                    <p class="custom-1">{{secondName}}</p>
                    <p class="custom-1">{{price}}</p>
                </div>
                <div class="card-action">
                    <a href="/ankets/{{id}}" target="_blank">Посмотреть контакт</a>
                    <a href="/ankets/{{id}}/edit?allow=true">Редактировать контакт</a>
                    <form class="mt15custom" action="/cont_selection/add" method="POST">
                        <input type="hidden" name="id" value="{{id}}">
                        <button type="submit" class="btn btn primary ">Добавить в выборку</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{else}}
<strong>Зарегистрированных анкет не существует</strong>
{{/each}}
{{/if}}

<!--<span>Тест обработки цен</span>-->
<!--<span class="price">50000</span>-->
<!--<span class="price">50000</span>-->
