<h1>Страница выборки</h1>

<!--div selection создается для более удобного взаимодействия с элементами внутри
-->
<div id="selection">
{{#if ankets.length}}
    <table>
        <thead>
        <tr>
            <th>Email</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Количество</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        {{#each ankets}}
            <tr>
                <td>{{email}}</td>
                <td>{{firstName}}</td>
                <td>{{secondName}}</td>
                <td>{{count}}</td>
                <td>{{price}}</td>
                <td>
                    <!--Класс js-remove для удаления из корзины-->
                    <button class="btn btn-small js-remove" data-id="{{id}}">Удалить</button>
                </td>
            </tr>

        {{/each}}

        </tbody>
    </table>
    <p><strong>Цена: </strong><span class="price">{{price}}</span></p>
{{else}}
    <p>Список пуст</p>
{{/if}}
</div>